## Variables

- variables are used to store the values

- and the values can be changed

In [11]:
number=100 # value 100 stored in a variable name called 'number'
number     #shift+enter

100

In [9]:
number=200 #value 200 stored in a variable name called 'number'
number

200

**Note**

- python is step by step process

- python will take last output as the latest value
    
- in above code we are using same variable: number

- but number value changed two times

- first time 100

- second time 200

- latest value 200

In [14]:
NUMBER=200
NUMBER

200

In [18]:
number, NUMBER

(100, 200)

In [20]:
NUMber=300
NUMber

300

In [22]:
number123=400
number123

400

In [24]:
123number=400
123number

SyntaxError: invalid decimal literal (359278068.py, line 1)

In [26]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [28]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [30]:
number_one=1000
number_one

1000

In [32]:
_=900
_

900

In [34]:
n1=100,200
n1

(100, 200)

In [36]:
n2,n3=200
n2,n3

TypeError: cannot unpack non-iterable int object

In [40]:
n4,n5=100,200
print(n4)
print(n5)

100
200

In [42]:
n4,n5=100,200
n4
n5

200

In [44]:
n1,_=100,200

In [47]:
if 
else
while

SyntaxError: invalid syntax (162871516.py, line 1)

- python variables are case sensitive

- variables can be declare as capital letters

- variables can be declare as small letters

- variables can not start with Numbers (prefix)

- numbers can be start with suffix

- variables can not have spl charcters expect **_**
    
- variables does not have space between the names
    
- only **_** is possible
    
- keywords or reserved words can not use a variables
    
- two values can be assign to single variable
    
- one value can not be assign to a two variables