In [1]:
print(10)

10

In [3]:
print('python')

python

In [5]:
print(10,20,30)

10 20 30

In [3]:
print(10,20,'Naresh It',True)

10 20 Naresh It True

In [9]:
n1=10
n2=20
print(n1,n2)

10 20

In [17]:
print(n1),print(n2) #wrong in horizontal

10
20

(None, None)

In [15]:
print(n1) # vertical is correct
print(n2)

10
20

In [21]:
print(n1,n2) #correct

10 20

In [ ]:
a=10
b=10
c=a+b
c
#the addition of 10 and 20 is 30
print

**format**

In [24]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

In [30]:
name='python'  #str will be considerd with quotes, like english words
age=10
city='hyderabad'
print("my name is {}, Im {} years old im from {}".format(name,age,city))

my name is python, Im 10 years old im from hyderabad

In [38]:
name="tejesh"
role='developer'
company='srian project'
print("My name is {}, my role is {} and i am working in {}".format(name,role,company))

My name is tejesh, my role is developer and i am working in srian project

**f method**

In [48]:
name="tejesh"
role='developer'
company='srian project'
print(f"My name is {name}, my role is {role} and i am working in {company}") # f statement will be replaced with format

My name is tejesh, my role is developer and i am working in srian project

In [50]:
name='python'  
age=10
city='hyderabad'
print(f"my name is {name}, Im {age} years old im from {city}")

my name is python, Im 10 years old im from hyderabad

In [52]:
a=100
b=200
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 200 is 300

In [3]:
num1=100
num2=200
average=(num1+num2)/2
print(f'the average of {num1} and {num2} is: {average}')

the average of 100 and 200 is: 150.0

In [5]:
num1=100
num2=200
average=(num1+num2)/2
print('the average of {} and {} is: {}'.format(num1,num2,average))

the average of 100 and 200 is: 150.0

In [21]:
radius=50
pi_value=3.14
area=pi_value*radius*radius
print(f'the area of circle {radius} is: {area}')
print('the area of circle {} is: {}'.format(radius,area))

the area of circle 50 is: 7850.0
the area of circle 50 is: 7850.0

In [19]:
base=20
height=30
area_of_triangle=1/2*base*height
print(f'the area of triangle is: {area_of_triangle}')
print('the area of triangle is: {}'.format(area_of_triangle))

the area of triangle is: 300.0
the area of triangle is: 300.0

In [33]:
bill_amount=1000
tip_percentage=10  # percentage symbol % is not aplicable
tip_amount=bill_amount*(tip_percentage/100)
total_amount=bill_amount+tip_amount
print(f'the total bill is: {total_amount}')
print('the total bill is: {}'.format(total_amount))

the total bill is: 1100.0
the total bill is: 1100.0

**end operater**

- combaining two or multiple statements in a sinlge line (end='')

In [40]:
print(10,end=' ')
print(20)

10 20

In [43]:
print(10,end=' ')
print(20,end=' ')
print(30)

10 20 30

$sep$ ** seperate operater**

- seperate the multiple values in a single print statement

In [48]:
print(10,20,30,sep=" & ")

10 & 20 & 30

In [50]:
print(10,20,30,sep="-->")

10-->20-->30

In [56]:
print(f'the addition of {5} and {3} is {5+3}''.')

the addition of 5 and 3 is 8.

In [60]:
print("the addition of 5 and 8 is 8" '.')

the addition of 5 and 8 is 8.

In [16]:
a=10
b=20
c=a+b
print(f'the addition of {a} and {b} is {c}')   #.format(or) f

the addition of 10 and 20 is 30

In [ ]:
sub, mul, div

In [26]:
print(10,20,30,sep='&')

10&20&30