In [ ]:
########## python is divided into three parts ##########
----- Basics
1) variables
2) data types
3) type conversions
4) eval inputs
5) packages
6) conditional statements
7) try-expect
8) functions
9) for loop
10) while loop (do this)

----- Intermediate part
11) strings
12) lists
13) dictionary
14) tuples (do this)
15) setse
16) lamda functions
17) file handling 

---- Advanced
18) oops

#============ part -1 =========#

- Intialisation

- type

- len

- max

- min

- sorted

- reversed

- in 

- for loop using in

- index

- for loop using index

- mutable

- concatenation

#========= part-2 ========

#== methods

In [6]:
str1='python'

In [8]:
str1

'python'

In [10]:
str2="python"

In [12]:
str2

'python'

In [14]:
print(str1) # do not confuse, not seeing the quotes

python

**note**

- if we mentioned single quotes or double qoutes by default provide in single quotes

- if we print the strings we will see answer without quotes

**Triple Quotes**

In [21]:
str="""hi how are you
        im good"""
str

'hi how are you\n        im good'

In [25]:
print(str)

hi how are you
        im good

**note**

- if we mentioned single quotes or double qoutes by default provide in single quotes

- if we print the strings we will see answer without quotes

- triple quotes are using for doc string

- in order to convey the information about coding part we will use doc string

- anything inside the single or double quotes is considered as string

**type**

In [34]:
type(str1) # type is string time

str

In [ ]:
str4='10' # integer value in the form of string
str5='10.5' # float value in the form of string
str6='123abc' # alpha numeric in the form of string
str7='True' # boolen value in the forn of string

**len**

In [38]:
str1='python'
len(str1)

6

In [40]:
str10='abcdefghijklmnopqrstuvwxyz'
len(str10)

26

**max and min**

In [43]:
str1='python'
max(str1)

'y'

In [45]:
min(str1)

'h'

In [49]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [51]:
str10='abcdefghijklmnopqrstuvwxyz'
max(str10)

'z'

In [53]:
min(str10)

'a'

**Keywords vs Methods**

In [ ]:
type(<>)
print(<>)
len(<>)
max(<>)
min(<>)
eval(<>)
input(<>)

In [ ]:
- in order to use method we need to call package

import random
random.randint()

import math
math.sqrt()

import time
time.sleep()

In [58]:
str='python123'

In [60]:
max(str)

'y'

In [62]:
str1='python'
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [64]:
sum([1,2,3])

6

**note**

- we cannot add the string with sum(), because it is not a math function

**sorted**

In [ ]:
len('python')
max('python')
min('python')
print('python')

In [70]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

- sorted will gives ascending order based on ascii numbers or value

- sorted is kind of a function

- every function we have arguments

- in that one defualt argument is **reverse=False**

- by default sorted output gives **ascending order**

- we can change the order, by providing **reverse=True**

- **if we do not mention, it will gives the default answer**

In [75]:
sorted(str1,reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [86]:
complex # 0+0j

complex

In [80]:
complex(10,20)

(10+20j)

In [84]:
complex(real=10,imag=30)

(10+30j)

In [88]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
funtion() # answer
funtion(a,b) # this might return error, if we don't give value of a,b
function(a=10,b=20) #ans

In [92]:
import random
random.random() # we will get answer but answer will not in our hands

0.18053524534918375

In [94]:
import random
random.randint(10,20) # answer we can change

18

In [102]:
complex() # default 0,0

0j

In [104]:
complex(real=10,imag=20) # for default values we can change the values through our own

(10+20j)

In [112]:
sorted(iterable='python') # error

TypeError: sorted expected 1 argument, got 0

In [110]:
random.randint(a=10,b=20) # answer

16

**note**

- **we have two arguments before / and after slash**

- **we can use the arguments names after / only**

- for example sorted has two arguments one is iterable and another one is reverse

- **iterable is mentioned before / symbol**

- **reverse is mentioned after / symbol**

- so we can use only reverse arguments name while we are doing the work

- we can not use iterable arguments names

- instead of using iterable name, we can provide direct value at the position

**reversed**

In [120]:
reversed('python')

- I already done my work

- your output is stored in that memory location

- whenever you see this kind of answer less than and greater than symbol or memory

- use for loop to see the anser

In [123]:
str1='python'
output=reversed(str1)
for i in output:
    print(i)

n
o
h
t
y
p

In [125]:
sorted('azycd')

['a', 'c', 'd', 'y', 'z']

- intialization

- type

- len

- min

- max

- sum

- sorted

- reversed

In [7]:
# sorted
# it will provide the values either ascending or decending order

sorted('naresh')

# when I run directly it will give one answer
# the function has a default behaviour : ascending

# how this default mentioned

['a', 'e', 'h', 'n', 'r', 's']

In [5]:
sorted('naresh',reverse=True)

['s', 'r', 'n', 'h', 'e', 'a']

In [11]:
for i in reversed('naresh'):
    print(i)

h
s
e
r
a
n

In [13]:
sorted([1,2,6,4,3,8,5])

[1, 2, 3, 4, 5, 6, 8]

In [15]:
sorted([1,2,6,4,3,8,5],reverse=True)

[8, 6, 5, 4, 3, 2, 1]

**in**

In [20]:
str1='naresh'
'n' in str1

True

In [22]:
'n' in 'naresh'

True

In [ ]:
# strings
# lists
# tuples
# sets
# dictonary

**note**

- in operator directly access the letters

In [31]:
# 1) wap ask the user count how many 'a' are present in a given string
# str1='hai naresh how are you'

# idea: count wrapper
# step-1: count=0
# step-2: using for loop in operator iterate through given string
# step-3: apply the if condition, whenever the letter equal to 'a'
# step-4: count=count+1

count=0
str1='hai naresh how are you'
for i in str1:
    if 'a'==i:
        count=count+1
print(count)

# step-1: i='h' if a=='h'  false
# step-1: i='a' if a=='a'  true
# step-......

3

In [41]:
# wap ask the user how vowels are there in a given
# string= hai naresh how are you

count=0
str1='hai naresh how are you'
str2='aeiou'
for i in str1:
    if i in str2:
        count=count+1
print(count)

9

In [15]:
# 3) home work gn
# str1='hai naresh how are you'
# repeated vowels are there
# we dont want repeated vowels
# count the vowels avoid the repeatation : unique words

# step1: count=0
# step2: take one more empty string: ex= s2=''
# step3: using for loop in operator iterate through given string
# step4: condition-1: that letter should not avaiable in s2
# step5:      condition-2: vowel check condition
# step6:           count=count+1
# step7:             update the s2= s2= s2+<letter>

count=0
str1='hai naresh how are you'
str2=''
str3='aeiou'
for i in str1:
    if i not in str2:
        if i in str3:
            count=count+1
            str2=str2+i
print(str2,sep='')
print('the count is',count)

aieou
the count is 5

In [49]:
s1='python'
s2=''

for i in s1:
    s2=s2+i  #concatenation


s2

'python'

In [63]:
s1='hello'
s2='bye'
s1+s2

'hellobye'

In [55]:
s1='hello '
s2='bye'
s1+s2

'hello bye'

In [57]:
s1='hello'
s2=' bye'
s1+s2

'hello bye'

In [61]:
s1='hello'
s2=' '
s3='bye'
s1+s2+s3

'hello bye'

In [65]:
s1='hello'
s2=' '
s3='bye'
s4=s1+s2+s3
s4

'hello bye'

In [67]:
s1='hello'
s2='bye'
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [69]:
s1='hello'
s2='bye'
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [71]:
s1='hello'
s2='bye'
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [80]:
s1='hello'
s2=2
s1*s2  # s1+s1===>s1*2

'hellohello'

**index**

- Index meaning a number attached to a letter

- in python index starts with 0

- we have two direction

    - postive + direction
       - postive starts with zero
    - negative - direction
       - negative starts with -1, applicable to last letter

In [ ]:
s1='python'

-6 -5  -4  -3  -2  -1  ==> negative
p   y   t   h   o   n
0   1   2   3   4   5 ===> positive

In [85]:
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [87]:
s1='python'
s1[-6],s1[-5],s1[-4],s1[-3],s1[-2],s1[-1]

('p', 'y', 't', 'h', 'o', 'n')

In [3]:
str1='hai naresh how are you'
str2=''
'h' not in str2

True

**mutable-immutable**

- mutable: it can change

  - we can change using indexing

- immutabe: it cannot change

  - we can not change using indexing

In [5]:
s='welcome'
# i want to replace 'l' to 'L'
# possible
# not possible

s[2]='L'

TypeError: 'str' object does not support item assignment

## note ##

## strings are immutable, it cannot change ##

In [11]:
l=[1,2,3,4]  #2=200
l[1]=200

In [15]:
l

[1, 200, 3, 4]

In [ ]:
s='welcome'
s[2]='L'
#######################
l=[1,2,3,4]  #2=200
l[1]=200
l

- range belongs to which family

   - math family
 
- inside range bracket what we need to provide

    - number
 
- how many numbers we need to provide

    - number of letters: len(string)
 
- how to access the letter using number

    - by using index

In [22]:
# 4) print each letter using for loop range 
# range belongs to which family
# inside bracket we need to provide a number
# how many numbers we need to provide
#      number of numbers=7
# how to access a letter using umber

s='welcome'
for i in range(7):
    print(s[i])

# i=0 s[0]:w
# i=1 s[1]:e

w
e
l
c
o
m
e

In [24]:
s='welcome to naresh it'
n=len(s)
for i in range(n):
    print(s[i])

w
e
l
c
o
m
e

t
o

n
a
r
e
s
h

i
t

**note**

- **for-in** directly access the letter

- **for-range** will access using the index

In [27]:
s='python'
for i in s:
    print(i)

p
y
t
h
o
n

In [29]:
s='python'
n=len(s)
for i in range(n):
    print(s[i])

p
y
t
h
o
n

In [33]:
# 5) wap ask the user iterate using a string
# string='welcome'
# print the positive index of w is 0
#       the positive index of e is 1
# ......

s='welcome'
n=len(s)
for i in range(n):
    print(f'the positive index {s[i]} is {i}')

the positive index w is 0
the positive index e is 1
the positive index l is 2
the positive index c is 3
the positive index o is 4
the positive index m is 5
the positive index e is 6

In [45]:
# 6) wap ask the user iterate using a string
# string='welcome'
# print the negative index of w is -7
#       ......

s='welcome'
n=len(s)
for i in range(n):
    print(f'the negative index of {s[i]} is {i-n}')

the negative index of w is -7
the negative index of e is -6
the negative index of l is -5
the negative index of c is -4
the negative index of o is -3
the negative index of m is -2
the negative index of e is -1

In [53]:
# 6) wap ask the user iterate using a string
# string='welcome'
# print the negative index of w is -7
#       ......
# the positive index is 0 and the negtive index -7 is w

s='welcome'
for i in range(len(s)):
    print(f'the positive index is {i} and the negtive index {i-len(s)} is {s[i]}')   # to call the string we need use index number syntax s[i]

the positive index is 0 and the negtive index -7 is w
the positive index is 1 and the negtive index -6 is e
the positive index is 2 and the negtive index -5 is l
the positive index is 3 and the negtive index -4 is c
the positive index is 4 and the negtive index -3 is o
the positive index is 5 and the negtive index -2 is m
the positive index is 6 and the negtive index -1 is e

In [63]:
# 8) wap ask the  user get the index of each 'a' in a given string
# s='hai how are you i am good'
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        print(f'the index of a {i}')

the index of a 1
the index of a 8
the index of a 18

In [69]:
# 9) wap ask the user to get count of number of 'a' in a given string
# usig for- range

count=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        count=count+1
print('the total count of a is:',count)

the total count of a is: 3

In [71]:
# 10) wap ask the user to get the sum of all index numbers of 'a'


summ=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        summ=summ+i
print('the total count of a is:',summ)

the total count of a is: 27

In [75]:
# 11) wap ask the user get the vowels from a given string using for range

count=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i] in 'aeiou':
        print(s[i])
        count=count+1
print('the total count of vowels',count)

a
i
o
a
e
o
u
i
a
o
o
the total count of vowels 11

In [85]:
# 12) wap ask the user get the uniqe vowels from a given string using for range

count=0
s='hai how are you i am good'
n=''
for i in range(len(s)):
    if s[i] not in n:
        if s[i] in 'aeiou':
            print(s[i])
            n=n+(s[i])
            count=count+1
print('the total count of uniqe vowels',count)

a
i
o
e
u
the total count of uniqe vowels 5

In [87]:
# 13) wap ask the user get the uniqe vowels from a given string using for range and "and operation"

count=0
s='hai how are you i am good'
n=''
for i in range(len(s)):
    if s[i] not in n and s[i] in 'aeiou':
            print(s[i])
            n=n+(s[i])
            count=count+1
print('the total count of uniqe vowels',count)

a
i
o
e
u
the total count of uniqe vowels 5

In [ ]:
# 14) string=1='ola ola ola'
# no.of ola

# 15)string='hello hello hello hello how how how how are you'
# what is the most repeated word: how

# 16) string1='helloooo how are u'
# what is the maximum length of word is: hellooo
# what is the minimum length of word is: u

# with out using sorted then sort the letters

In [21]:
# 14) string=1='ola ola ola'
# no.of ola

count=0
s1='ola ola ola'
s2=''
for i in range(len(s1)):
    if s1[i] not in s2:
        if s1[i] in 'ola':
            s2=s2+s1[i]
            print(s2[i])
            count=count+1
print('the no.of ola:',count)

o
l
a
the no.of ola: 3

In [25]:
# 14) string=1='ola ola ola'
# no.of ola

count=0
s1='ola ola ola'
s2=''
for i in range(len(s1)):
    if s1[i] not in s2 and s1[i] in 'ola':
        s2=s2+s1[i]
        count=count+1
print(s2)
print('the no.of ola is:',count)

ola
the no.of ola is: 3

In [33]:
# 15)string='hello hello hello how how how how are you'
# what is the most repeated word: how


count=0
s1='hello hello hello how how how how are you'
for i in range(len(s1)):
    if s1[i] in 'hello':
        count=count+1
print(count)

25

In [35]:
s1='hello hello hello how how how how are you'
for word in s1:
    print('word')

word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word

In [39]:
# 6) wap ask the user iterate using a string
# string='welcome'
# print the negative index of w is -7
#       ......
# the positive index is 0 and the negtive index -7 is w

str='welcome'
for i in range(len(str)):
    print(f'the positive index {i} and the negative index of {i-len(str)} is {str[i]}')

the positive index 0 and the negative index of -7 is w
the positive index 1 and the negative index of -6 is e
the positive index 2 and the negative index of -5 is l
the positive index 3 and the negative index of -4 is c
the positive index 4 and the negative index of -3 is o
the positive index 5 and the negative index of -2 is m
the positive index 6 and the negative index of -1 is e

In [41]:
# 8) wap ask the  user get the index of each 'a' in a given string
# s='hai how are you i am good'

s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        print(f'the index of a is {i}')

the index of a is 1
the index of a is 8
the index of a is 18

In [43]:
# 9) wap ask the user to get count of number of 'a' in a given string
# usig for- range

count=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        count=count+1
print('the total count of a is',count)

the total count of a is 3

In [45]:
# 10) wap ask the user to get the sum of all index numbers of 'a'

summ=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        summ=summ+i
print('the sum of all index of a is',summ)

the sum of all index of a is 27

In [47]:
# 11) wap ask the user get the vowels from a given string using for range

count=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i] in 'aeiou':
        print(f'the index of aeiou is: {s[i]}-->{i}' )
        count=count+1
print('the total count aeiou is',count)

the index of aeiou is: a-->1
the index of aeiou is: i-->2
the index of aeiou is: o-->5
the index of aeiou is: a-->8
the index of aeiou is: e-->10
the index of aeiou is: o-->13
the index of aeiou is: u-->14
the index of aeiou is: i-->16
the index of aeiou is: a-->18
the index of aeiou is: o-->22
the index of aeiou is: o-->23
the total count aeiou is 11

In [51]:
# 11) wap ask the user get the uniqe vowels from a given string using for range

count=0
s='hai how are you i am good'
n=''
for i in range(len(s)):
    if s[i] not in n and s[i] in 'aeiou':
        n=n+s[i]
        count=count+1
print(n)
print('the total count uniqe vowels is:',count)

aioeu
the total count uniqe vowels is: 5

**slice**

- we can cut into pieces

- similiar to range concept

- start,stop,step here also

In [ ]:
str1='hai how are you'

-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
h     a   i       h   o  w     a  r  e     y  o  u
0    1    2   3   4   5  6  7  8  9  10 11 12 13 14

In [ ]:
# case-1:
str1[start:stop:step]

$pattern-1$

**str1[start:]**

- by default start value = start only

- last value nothing mentioned means automatically it will go till = last only

- step nothing mention means, it is a positive direction and increment by1

In [6]:
str1='hai how are you'
str1[5:]

'ow are you'

In [20]:
str1='hai how are you'
str1[0:14+1:]

'hai how are you'

In [12]:
str1='hai how are you'
str1[-5:]

'e you'

In [22]:
str1='hai how are you'
str1[5:]

'ow are you'

In [26]:
str1='hai how are you'
str1[-10:]

'ow are you'

$pattern-2$

**str1[start:stop]**

- start value means by default start only

- step is not mentioned postive direction

- last = stop-1

In [33]:
str1='hai how are you'
str1[5:14]

'ow are yo'

In [3]:
str1='hai how are you'
str1[-5:14]

'e yo'

In [5]:
str1='hai how are you'
str1[4:-4]

'how are'

In [7]:
str1[-5:-14]

''

In [9]:
str1[-14:-5]

'ai how ar'

In [5]:
str1='hai how are you'

#-15  -14  -13 -12 -11 -10 -9  -8 -7 -6 -5  -4  -3  -2   -1
#h     a    i       h   o   w      a  r  e       y   o    u
0     1    2   3   4   5   6   7  8  9  10  11  12  13  14     


str1[5:14]   # works
str1[-5:14]  # works
str1[5:-14]  # fail
str1[-5:-14] # fail

SyntaxError: invalid syntax (2822517044.py, line 4)

In [7]:
str1='hai how are you'

In [23]:
str1[-3:]

'you'

In [11]:
str1='hai how are you'

str1[5:500]

'ow are you'

**truncation behaviour**

- when ever string range is limited, but we provided unlimited number

- string will consider till range we have

- in the above example our range only 15 letters

- we provided 500, then 500 will truncate to till 15 letters only

In [ ]:
str1[5:500]    # works
str1[-500:500] # works
str1[-1:500]   # works
str1[500:]     # fails
str1[-500:-100] # fails

In [13]:
str1[-500:500]

'hai how are you'

In [15]:
str1[-1:500]

'u'

In [17]:
str1[500:]  # it is a start value, and we enterd over limit of range

''

In [21]:
str1[14:]   # str1[start:] it is a start value and ends with last value

'u'

$pattern-3$

**str1[start:stop:step]**

- start value means start only

- if step value postive
    
   - last value = stop-1

- if step value negative
   
   - last value = stop+1

In [30]:
str1='hai how are you'
str1[0:14]

'hai how are yo'

In [34]:
str1='hai how are you'
str1[0:-15]

''

In [42]:
str1='hai how are you'
str1[0:-1]

'hai how are yo'

In [ ]:
str1='hai how are you'

-15  -14  -13 -12 -11 -10 -9  -8 -7 -6 -5  -4  -3  -2   -1
h     a    i       h   o   w      a  r  e       y   o    u
0     1    2   3   4   5   6   7  8  9  10  11  12  13  14     

str1[2:13:2]  # w
str1[2:13:-2] # f
str1[2:-13:2] # f
str1[2:-13:-2] # f
str1[-2:13:2]  # f
str1[-2:-13:2] # f
str1[13:2:2]  # f
str1[-13:2:2] # f
str1[-13:-2:2] # w
str1[-13:-2:-2] # f
str1[-13:2:-2] # w

In [46]:
str1[-2:-13:-2]

'o r o '

In [54]:
str1[2:13:-2]

''

In [56]:
str1[2:-13:2]

''

In [64]:
str1[2:-13:-2]

''

In [60]:
str1[-2:13:2]

''

In [66]:
str1[-2:-13:2]

''

In [68]:
str1[-13:2:2]

''

In [ ]:
str1[:]   # complete string
str1[::]  # complete string
str1[::-1]  # reverse string with full
str1[:5:-1] # reverse string till '5' index

**methods**

- stringlists tuple dictionary every data type has its own methods

- we already seen that packages has different method

- for example random package: randint method

- math package: sqrt

- in the same way strings also have method

- in order to see methods for the packages

   - we are importing the packages
 
   - we are applying dir

- in the similar way in order to see the methods of string, we need to apply dir only

In [77]:
dir('') 
# dir('hai')
# str1='apple'
#dir('str1')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- lower

- upper

- capitalize

- title

- casefold

- center

**upper**

In [79]:
str1='hai how are you'

In [82]:
help(str1.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [84]:
str1.upper()

'HAI HOW ARE YOU'

**lower**

In [89]:
help(str1.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [91]:
str1.lower()

'hai how are you'

In [93]:
help(str1.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [95]:
str1.capitalize()

'Hai how are you'

In [101]:
help(str1.title)

Help on built-in function title:

title() method of builtins.str instance
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [103]:
str1.title()

'Hai How Are You'

In [ ]:
# str1='hai how are you'
# o/p='Hai How Are You'
# without using any method
# one level : iterate each letters apply caplital
# scrach: ord char

In [105]:
help(str1.center)

Help on built-in function center:

center(width, fillchar=' ', /) method of builtins.str instance
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [107]:
str1.center(20)

'  hai how are you   '

In [109]:
len(str1.center(20))

20

- center has two arguments

   - width
 
   - fill char 

- original string already : 15 letters

- we want to create a new string with 20 letters

- remaining 5 letters by default empty

- we can fill with characters also

In [113]:
str1.center(26,'*')

'*****hai how are you******'

In [15]:
# str1='hai how are you'
# o/p='Hai How Are You'
# without using any method
# one level : iterate each letters apply caplital
# scrach: ord char

str1='hai how are you'
str2=''
for i in range(len(str1)):
    if i==0:
        change=chr(ord(str1[i])-32)
        str2=str2+change
    elif str1[i-1]==' ':
        change1=chr(ord(str1[i])-32)
        str2=str2+change1
    else:
        str2=str2+str1[i]
print(str2)

Hai How Are You

In [3]:
str1='hai how are you'
help(str1.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [5]:
str1.casefold()

'hai how are you'

- upper

- lower

- casefold

- title

- capitalize

- center

**count**

In [11]:
str1='hai how are you'
# how many 'a's are there

In [21]:
count=0
for i in str1:
    if i in 'a':
        count=count+1
print(count)

2

In [15]:
str1.count('a')

2

In [23]:
str1='hai hai hai'
str1.count('a')

3

- we want number of 'a' from a specific index

- we want number of a between two index

In [26]:

-11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h  a  i    h  a  i    h   a  i
#0  1   2  3 4  5  6  7  8 9  10

str1.count('a',5)

2

In [32]:
str1.count('a',3)  # only single index

2

In [34]:
str1.count('a',4,8) # two index number start and end

1

In [ ]:
str1.count('a',-7)

In [40]:
# reverse
str1('a',-2,-9)

TypeError: 'str' object is not callable

In [38]:
str1='ola ola ola'
str1.count('ola')

3

**window method**

In [47]:
count=0
str1='ola ola ola'
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1
print(count)

# step-1 i=0 0:0+3 ==='ola' true
#...

3

In [49]:
str1.count('ola ')

2

In [51]:
str1.count('ola ola ')

1

In [53]:
str1.count('z')

0

**replace**

In [56]:
str1='welcome'
# i want to replace with 'l' with 'L'

In [62]:
# we kow that strings are immutable
# we cannot use index operations also
# slice and concatentation
# divide welcome: we come
# s1='we'
# s2='come'
# s1+'L'+s2

str1='welcome'
s1=str1[0:2]
s2=str1[3:]
s1+'L'+s2

'weLcome'

In [64]:
chr(ord('l')-32)

'L'

In [66]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [68]:
str1='wellcome'
str1.replace('l','L')

'weLLcome'

In [70]:
help(str1.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

- by default replace will change all the occurances

- count= -1 is responsible for that

- which means we can provide some come also, which how many i want to change

- give wellcome and chnage count=1 and count=2 explore it

In [79]:
str1='wellcome'
str1.replace('l','L',1)

# when we write count=1
# it will change only one letter
# that to first occurance only

'weLlcome'

In [77]:
str1.replace('l','L',2)

'weLLcome'

In [101]:
# str1='restart'
# i/p='resta$t'

str1='restart'
s1=str1[0:2]
s2=str1[2:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [103]:
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index-find**

In [106]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [108]:
str1='HELLO'
str1.isupper()

True

**index**

- index says that it will give the index of any letter in a given string

- we already seen about count: count will give how many letters are there in string

   - at that index you want to count
 
   - between indexex also we can count the letters

- index meaning it will provide the index

- imagine that there same letters repeated

- how can we find the next index

In [19]:
-11 -10  -9  -8  -7   -6  -5 -4 -3   -2   -1
#h   a    i      h    a   i     h     a    i
#0   1    2   3  4    5   6  7  8     9   10 

# i want always a return a lowest index only
str1='hai hai hai'
str1.index('a')

1

In [21]:
# i want to know next 'a' index  after 3rd index

str1='hai hai hai'
str1.index('a',3)

5

In [17]:
# i want to know 'a' between 3rd to 7th index

str1='hai hai hai'
str1.index('a',3,7)

5

In [ ]:
str1='hai hai hai'
str1.index('a')   # among all the indexes the lowset index is'1'

str1='hai hai hai'
str1.index('a',3)  # after 3rd index the lowset index is '5'

str1='hai hai hai'
str1.index('a',3,7)  # between 3-7 index the lowset is '5'

In [27]:
str1='hai hai hai'
str1.index('a',-8,-5)

5

In [33]:
str1='hai hai hai'
str1.index('a',-10)

1

In [37]:
-11 -10  -9  -8  -7   -6  -5 -4 -3   -2   -1
#h   a    i      h    a   i     h     a    i
#0   1    2   3  4    5   6  7  8     9   10 


str1='hai hai hai'
print(str1.count('a'))
print(str1.count('a',3))
print(str1.count('a',3,7))

3
2
1

In [41]:
str1='hai hai hai'
print(str1.index('a'))
print(str1.index('a',3))
print(str1.index('a',3,7))  # 3 to 7 start:3 index and end: 7-1=6 index

1
5
5

In [43]:
str1='hai hai hai'
# i want to know all the indexes of 'a'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

1
5
9

In [53]:
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',i1+1)
print(i2)
i3=str1.index('a',i2+1)
print(i3)
i4=str1.index('a',i3+1)
print(i4)
i5=str1.index('a',i4+1)
print(i5)

1
5
9
13

ValueError: substring not found

In [ ]:
str1='hai hai hai'
i1=0
for i in range(len(str1)):
    if str1=='a':
        print()

**find**

In [56]:
help(str1.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [58]:
str1='hai hai hai'
str1.find('a')

1

In [60]:
str1='hai hai hai'
str1.find('a',2,4)

-1

In [66]:
str1='hai hai hai hai'
i1=str1.find('a')
print(i1)
i2=str1.find('a',i1+1)
print(i2)
i3=str1.find('a',i2+1)
print(i3)
i4=str1.find('a',i3+1)
print(i4)
i5=str1.find('a',i4+1)   # here extra index has been added then the result will -1 for in find() method
print(i5)

1
5
9
13
-1

In [68]:
str1='hai hai hai'
str1.replace('z','Z')

'hai hai hai'

In [70]:
str1='hai hai hai'
str1.count('z')

0

- if substring not found

- count method will give zero(0)

- replace mehod will original string

- index method will give error (sub string not found)

- find will give (-1)

In [11]:
str1='omkar.nallagoni@cognizant.com'
# first name = omkar
# second name = nallagoni
# company name = cognizant

f1=str1.find('.')
print('first name:',str1[:f1])
f2=str1.find('@')
print('second name:',str1[f1+1:f2])
f3=str1.find('.',f1+1)
print('company name:',str1[f2+1:f3])

first name: omkar
second name: nallagoni
company name: cognizant

- upper/lower/casefold

- capitalize/title

- count

- replace

- index/find

- start with is

- split

- strip/lstrip/rstrip

- start/swith/end

In [27]:
help(''.removeprefix)

Help on built-in function removeprefix:

removeprefix(prefix, /) method of builtins.str instance
    Return a str with the given prefix string removed if present.

    If the string starts with the prefix string, return string[len(prefix):].
    Otherwise, return a copy of the original string.

In [1]:
str='hai apple how are you apple im good apple thank you apple'
str1=str.split()
str1

['hai',
 'apple',
 'how',
 'are',
 'you',
 'apple',
 'im',
 'good',
 'apple',
 'thank',
 'you',
 'apple']

In [13]:
str='hai apple how are you apple im good apple thank you apple'
str1=str.split()
for i in range(len(str1)):
    if str1[i]=='apple':
        print(i)
        str1.pop(i)
str1

1
4
6
8

IndexError: list index out of range

In [1]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
list.pop()