- we can store the output values by using append operations

- we are taking empty list

- we are itterating through elements from a given list

- the result we are appending in a new list

In [4]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- there are almost 3 lines are in the process

- the three lines we can make into a single line

- this is called as list comprehension

$pattern-1$

**Only for loop**

In [11]:
# syntax 
# [<output> <for loop>]

In [19]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

# 1) what is the output? i*i
# 2) what is the output list name? square_list
# 3) what is the for loop? for i in range(10)

sq_list=[i*i for i in range(10)]

In [21]:
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
# Q2) l1=['hyd','mumbai','chennai','blr']
#     ans=['Hyd','Hyd','Chennai','Blr']

l1=['hyd','mumbai','chennai','blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [29]:
# 1) what is the output? i.upper()
# 2) what is the output list name? upperlist
# 3) what is the for loop? for i in l1

upperlist=[i.upper() for i in l1]

upperlist

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [33]:
# 3) l=['Hyd','Hyd','Chennai','Blr']
# lower list=['hyd','mumbai','chennai','blr']

l1=['Hyd','Mumbai','Chennai','Blr']
lower_list=[]
for i in l1:
    lower_list.append(i.lower())
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [35]:
lowerlist=[i.lower() for i in l1]

In [37]:
lowerlist

['hyd', 'mumbai', 'chennai', 'blr']

In [41]:
# 4) l2=['Hyd','Mumbai','Chennai','Blr']
# sum of the indexex of all elements

l2=['Hyd','Mumbai','Chennai','Blr']
index_list=[]
for i in range(len(l2)):
    index_list.append(i)
index_list

[0, 1, 2, 3]

In [43]:
indexlist=[i for i in range(len(l2))]

In [45]:
indexlist

[0, 1, 2, 3]

In [47]:
l2=['Hyd','Mumbai','Chennai','Blr']
index_list=[]
for i in l2:
    index_list.append(l2.index(i))
sum(index_list)

6

In [51]:
# 1) what is the output? l2.index(i)
# 2) what is the output list name? indexlist
# 3) what is the for loop? for i in l1

indexlist=[(l2.index(i)) for i in l2]
sum(indexlist)

6

- making empty list will not works in list comprehension

- intialization will not work in list comprehension

- assignment operations also not works

In [ ]:
# Fail

l2=['Hyd','Mumbai','Chennai','Blr']
index_list=[]
for i in l2:
    h=l2.index(i)
    index_list.append(h)
sum(index_list)

$pattern-2$

**for loop - if condition**

In [55]:
# syntax

# [<output> <for loop> <if condition>]

In [59]:
# l2=['Hyd','Mumbai','Chennai','Blr']
# ans=['Mumbai','Chennai']

l2=['Hyd','Mumbai','Chennai','Blr']
ans=[]
for i in l2:
    if len(i)>4:
        ans.append(i)
ans

['Mumbai', 'Chennai']

In [65]:
# 1) what is the output? i
# 2) what is the if condition? if len(i)>4
# 3) what is the for loop? for in l2
# 4) what is the output list name? greater

greater=[i for i in l2 if len(i)>4]
greater

['Mumbai', 'Chennai']

In [69]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'

l1=['Hyd','Mum#bai','Chen#nai','blr']
hash_list=[]
for i in l1:
    if '#' in i:
        hash_list.append(i)
hash_list

['Mum#bai', 'Chen#nai']

In [71]:
hashlist=[i for i in l1 if '#' in i]
hashlist

['Mum#bai', 'Chen#nai']

In [85]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr'] 
#  ans_without_#=['Hyd'','blr'] 
#  we want lements which are not having '#'

l1=['Hyd','Mum#bai','Chen#nai','blr']
hashing=[i for i in l1 if '#' not in i]
hashing

['Hyd', 'blr']

In [99]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list=str1.split(',')
for i in list:
    print(i[:i.index('.')])

virat
 Rohit
 KL

In [101]:
list=[i[:i.index('.')] for i in list]
list

['virat', ' Rohit', ' KL']

In [ ]:
list[1][:list[1].index('.')] # Virat
list[2][:list[3].index('.')]] # rohit
list[3][:list[3].index('.')] # kl

In [77]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital

l1=['Hyd','Mumbai','chennai','blr']
l2=[]
for i in l1:
    if i.istitle():
        l2.append(i)
l2

['Hyd', 'Mumbai']

In [81]:
capital=[i for i in l1 if i.istitle()]
capital

['Hyd', 'Mumbai']

In [ ]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=split.str1()
for i in list1:
    print(i[list1[i].index('.'):])

$Pattern-3$

**if-else**

In [ ]:
[<output> <forloop>]:for loop
[<output> <forloop> <if condition>]:
[<ifoutput> <if> <else> <elseoutput> <for>]: if-else

**even-odd**

In [6]:
for i in range(1,20):
    if i%2==0:
        print('even',i)
    else:
        print('odd',i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19

In [26]:
even=[f'even{i}' if i%2==0 else f'odd{i}' for i in range(1,20)]
even

['odd1',
 'even2',
 'odd3',
 'even4',
 'odd5',
 'even6',
 'odd7',
 'even8',
 'odd9',
 'even10',
 'odd11',
 'even12',
 'odd13',
 'even14',
 'odd15',
 'even16',
 'odd17',
 'even18',
 'odd19']